<!-- templates/assets/create.html - COMPLETE REFACTORING -->
{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Upload Asset - Solidus{% endblock %}

{% block content %}
    {% include 'partials/content/list_header.html' with title="Upload Asset" subtitle="Add a new digital asset to your collection" %}

    <div class="max-w-2xl">
        {% include 'partials/ui/card.html' with card_header=True card_title="Asset Information" %}
        <form method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}

            <!-- File Upload -->
            {% include 'partials/forms/field.html' with field=form.file field_type='file' file_types='Images, Videos, Documents up to 100MB' %}

            <!-- Title -->
            {% include 'partials/forms/field.html' with field=form.title %}

            <!-- Description -->
            {% include 'partials/forms/field.html' with field=form.description field_type='textarea' %}

            <!-- Category -->
            {% include 'partials/forms/field.html' with field=form.category field_type='select' %}

            <!-- Tags -->
            {% include 'partials/forms/tags_input.html' with field=form.tags %}

            <!-- Permissions -->
            <div class="grid grid-cols-2 gap-4">
                {% include 'partials/forms/field.html' with field=form.is_public field_type='checkbox' field_class='mb-0' %}
                {% include 'partials/forms/field.html' with field=form.allow_download field_type='checkbox' field_class='mb-0' %}
            </div>

            {% include 'partials/forms/form_actions.html' with submit_text='Upload Asset' submit_icon='fas fa-upload' cancel_url='assets:list' %}
        </form>
    </div>
{% endblock %}